@import "normalize";

#camera--view{
  top: 50%;
  left: 50%;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  transform: translate(-50%, -50%);
}

#camera--buffer{
  top: 50%;
  left: 50%;
  position: absolute;
  visibility: hidden;
  transform: translate(-50%, -50%);
}

#camera--overlay{
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.layout{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#canvas{
  max-width: 1200px;
  overflow: hidden;
  position: relative;
  width: 100%;

  .wrap{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
  }
}

//
// Ratio

.r-9x21{ padding-bottom: 233.33%; }
.r-9x16{ padding-bottom: 177.77%; }
.r-10x16{ padding-bottom: 160%; }
.r-2x3{ padding-bottom: 150%; }
.r-3x4{ padding-bottom: 133.33%; }
.r-4x5{ padding-bottom: 125%; }
.r-1x1{ padding-bottom: 100%; }
.r-5x4{ padding-bottom: 80%; }
.r-4x3{ padding-bottom: 75%; }
.r-3x2{ padding-bottom: 66.67%; }
.r-16x10{ padding-bottom: 62.5%; }
.r-16x9{ padding-bottom: 56.25%; }
.r-21x9{ padding-bottom: 42.86%; }

.ratio {
  width: 100%;
  display: block;
  position: relative;
  background-size: cover;
  background-position: center;
}
